[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wand = "*"
pyexiftool = "*"

[dev-packages]
ipython = "*"
flake8 = "*"

[requires]
python_version = "3.9"

[scripts]
cleanup = "python frontier_cleanup.py"
