[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wand = "*"
pyexiftool = "*"

[dev-packages]
ipython = "*"
flake8 = "*"

[requires]
python_version = "3.9"

[scripts]
cleanup_c4c5 = "python frontier_cleanup_c4c5.py"
cleanup_ms01 = "python frontier_cleanup_ms01.py"
